<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/indexStyle.css">
    <title>OAuthテスト（認証画面）</title>
</head>

<body>
    <div class='header'>
        <h1>
            連携したいサービスを選択して認証します。
        </h1>
    </div>

    <div>
        <ul id="services">
            <a href="http://localhost:3000/authorization/">Dropboxに連携する</a>
        </ul>
    </div>
</body>

</html>